## Correlation Matrix Data for Tableau

In [1]:
# importing libraries for data exploration and preprocessing
import pandas as pd

### importing data

In [2]:
data = pd.read_csv(r'C:\Users\ThinkPad\Documents\BootCamp\Project Final\Resource\loan.csv')

C:\Users\ThinkPad\anaconda3\envs\PythonAdv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (19,55) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### calculating correlation

In [3]:
corr_matrix = data.corr()
corr_matrix.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,Code
id,1.000000,0.999443,0.063803,0.066058,0.071502,-0.142963,0.025347,0.033990,0.067781,0.049648,...,0.009703,0.011797,0.004960,-0.000543,0.000428,0.048724,-0.013579,-0.000914,0.014084,0.012592
member_id,0.999443,1.000000,0.064461,0.066754,0.072308,-0.142205,0.026036,0.034146,0.067824,0.049904,...,0.009033,0.006729,0.003529,-0.003295,0.000492,0.048660,-0.013022,-0.005038,0.012763,0.012759
loan_amnt,0.063803,0.064461,1.000000,0.999263,0.997115,0.145023,0.944977,0.332698,0.020675,-0.000159,...,-0.107249,-0.051313,-0.028005,0.412165,0.019173,0.312439,0.009638,0.071500,0.007928,0.016761
funded_amnt,0.066058,0.066754,0.999263,1.000000,0.998025,0.145160,0.946005,0.332466,0.021075,0.000151,...,-0.107249,-0.051313,-0.028005,0.412165,0.019173,0.312439,0.009638,0.071500,0.007928,0.016895
funded_amnt_inv,0.071502,0.072308,0.997115,0.998025,1.000000,0.145205,0.943632,0.331420,0.022185,0.000648,...,-0.107337,-0.051439,-0.028118,0.412268,0.018969,0.312473,0.009548,0.071515,0.007820,0.017109

In [4]:
corr_tableau=corr_matrix.unstack().reset_index(name='corr')

In [5]:
corr_tableau.rename(columns={'level_0': 'X', 'level_1': 'Y'}, inplace=True)

In [6]:
corr_tableau.head()

    X                Y      corr
0  id               id  1.000000
1  id        member_id  0.999443
2  id        loan_amnt  0.063803
3  id      funded_amnt  0.066058
4  id  funded_amnt_inv  0.071502

### export to csv

In [7]:
corr_tableau.to_csv('../Resource/corr_matrix.csv',index=False)